Repository datakaveri/iudx-deployment: changes, and which Jenkins stages are due for each by the changed paths.
All: Kubescape Scan for RS, Kubescape Scan for Auth, Kubescape Scan for CAT, Kubescape Scan for LIP, Kubescape Scan for FS, Kubescape Scan for GIS, Kubescape Scan for DI

Kubescape Scan for RS:
        steps {
                  build job: 'kubescape-rs', parameters: [string(name: 'ghprbActualCommit', value: "$ghprbActualCommit"), string(name: 'ghprbPullId', value: "$ghprbPullId")]
        }
      

Kubescape Scan for Auth:
        steps {
                  build job: 'kubescape-auth', parameters: [string(name: 'ghprbActualCommit', value: "$ghprbActualCommit"), string(name: 'ghprbPullId', value: "$ghprbPullId")]
        }
      

Kubescape Scan for CAT:
        steps {
                  build job: 'kubescape-cat', parameters: [string(name: 'ghprbActualCommit', value: "$ghprbActualCommit"), string(name: 'ghprbPullId', value: "$ghprbPullId")]
        }
      

Kubescape Scan for LIP:
        steps {
                  build job: 'kubescape-lip', parameters: [string(name: 'ghprbActualCommit', value: "$ghprbActualCommit"), string(name: 'ghprbPullId', value: "$ghprbPullId")]
        }
      

Kubescape Scan for FS:
        steps {
                  build job: 'kubescape-fs', parameters: [string(name: 'ghprbActualCommit', value: "$ghprbActualCommit"), string(name: 'ghprbPullId', value: "$ghprbPullId")]
        }
      

Kubescape Scan for GIS:
        steps {
                  build job: 'kubescape-gis', parameters: [string(name: 'ghprbActualCommit', value: "$ghprbActualCommit"), string(name: 'ghprbPullId', value: "$ghprbPullId")]
        }
      

Kubescape Scan for DI:
        steps {
                  build job: 'kubescape-di', parameters: [string(name: 'ghprbActualCommit', value: "$ghprbActualCommit"), string(name: 'ghprbPullId', value: "$ghprbPullId")]
        }
      

updated Jenkinsfile
  auth.txt
  jenkins/aaa-jenkinsfile
Due: Kubescape Scan for Auth

updated Jenkinsfile
  cat.txt
  jenkins/cat-jenkinsfile
Due: Kubescape Scan for CAT

updated Jenkinsfile for cat
  cat.txt
  jenkins/cat-jenkinsfile
Due: Kubescape Scan for CAT

updated keycloak to 21.1.1
  Docker-Swarm-deployment/single-node/keycloak/keycloak-stack.yaml
  docker/keycloak/Dockerfile
Due: none

keycloak k8s helm update to v21.1.1
  K8s-deployment/Charts/keycloak/create-secrets.sh
  K8s-deployment/Charts/keycloak/install.sh
  K8s-deployment/Charts/keycloak/values.yaml
Due: none

Added Jenkinsfile for master pipeline for Kubescape
  Jenkinsfile
Due: none

Added Jenkinsfile for auditing-server pipeline for Kubescape
  K8s-deployment/Charts/auditing-server/Jenkinsfile
Due: none

Added Jenkinsfile for auth-server pipeline for Kubescape
  K8s-deployment/Charts/auth-server/Jenkinsfile
Due: none

Added Jenkinsfile for catalogue-server pipeline for Kubescape
  K8s-deployment/Charts/catalogue/Jenkinsfile
Due: none

Added Jenkinsfile for di-server pipeline for Kubescape
  K8s-deployment/Charts/data-ingestion/Jenkinsfile
Due: none

Added Jenkinsfile for file-server for kubescape
  K8s-deployment/Charts/file-server/Jenkinsfile
Due: none

Added Jenkinsfile for gis-server pipeline for Kubescape
  K8s-deployment/Charts/gis-interface/Jenkinsfile
Due: none

Added Jenkinsfile for lip-server pipeline for Kubescape
  K8s-deployment/Charts/latest-ingestion-pipeline/Jenkinsfile
Due: none

Added Jenkinsfile for resource-server pipeline for Kubescape
  K8s-deployment/Charts/resource-server/Jenkinsfile
Due: none

Added post step for all jenkinsfiles
  K8s-deployment/Charts/auditing-server/Jenkinsfile
  K8s-deployment/Charts/auth-server/Jenkinsfile
  K8s-deployment/Charts/catalogue/Jenkinsfile
  K8s-deployment/Charts/data-ingestion/Jenkinsfile
  K8s-deployment/Charts/file-server/Jenkinsfile
  K8s-deployment/Charts/gis-interface/Jenkinsfile
  K8s-deployment/Charts/latest-ingestion-pipeline/Jenkinsfile
  K8s-deployment/Charts/resource-server/Jenkinsfile
Due: none

Added auth.txt
  Jenkinsfile
  K8s-deployment/auth.txt
Due: none

Added auth.txt
  auth.txt
Due: Kubescape Scan for Auth

Added auth.txt
  K8s-deployment/Charts/auditing-server/Jenkinsfile
Due: none

Added auth.txt
  K8s-deployment/Charts/auditing-server/Jenkinsfile
  K8s-deployment/auth.txt
  auth.txt
Due: Kubescape Scan for Auth

Added post step to all jenkinsfiles
  K8s-deployment/Charts/auditing-server/Jenkinsfile
  K8s-deployment/Charts/auth-server/Jenkinsfile
  K8s-deployment/Charts/catalogue/Jenkinsfile
  K8s-deployment/Charts/data-ingestion/Jenkinsfile
  K8s-deployment/Charts/file-server/Jenkinsfile
  K8s-deployment/Charts/gis-interface/Jenkinsfile
  K8s-deployment/Charts/latest-ingestion-pipeline/Jenkinsfile
  K8s-deployment/Charts/resource-server/Jenkinsfile
Due: none

Added post step to all jenkinsfiles
  K8s-deployment/Charts/auditing-server/Jenkinsfile
Due: none

test script using pytest
  Docker-Swarm-deployment/single-node/lip/tests/example-config.json
  Docker-Swarm-deployment/single-node/lip/tests/test_lip.py
Due: none

update with requirement, Readme and script
  Docker-Swarm-deployment/single-node/lip/tests/README.md
  Docker-Swarm-deployment/single-node/lip/tests/latest-ingestion-pipeline-test.py
  Docker-Swarm-deployment/single-node/lip/tests/lip.py
  Docker-Swarm-deployment/single-node/lip/tests/lip_requirements.txt
  Docker-Swarm-deployment/single-node/lip/tests/test_lip_requirements.txt
Due: none

Readme
  Docker-Swarm-deployment/single-node/lip/tests/README.md
Due: none

Changed allowMissing: true to allowMissing: false
  K8s-deployment/Charts/auditing-server/Jenkinsfile
  K8s-deployment/Charts/auth-server/Jenkinsfile
  K8s-deployment/Charts/catalogue/Jenkinsfile
  K8s-deployment/Charts/data-ingestion/Jenkinsfile
  K8s-deployment/Charts/file-server/Jenkinsfile
  K8s-deployment/Charts/gis-interface/Jenkinsfile
  K8s-deployment/Charts/latest-ingestion-pipeline/Jenkinsfile
  K8s-deployment/Charts/resource-server/Jenkinsfile
Due: none

Path conditions:
  Kubescape Scan for RS: any of: rs.txt
  Kubescape Scan for Auth: any of: auth.txt
  Kubescape Scan for CAT: any of: cat.txt
  Kubescape Scan for LIP: any of: lip.txt
  Kubescape Scan for FS: any of: file.txt
  Kubescape Scan for GIS: any of: gis.txt
  Kubescape Scan for DI: any of: di.txt
